#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

#description {
  font-style: italic;
  font-size: 18px;
}

.text-iron {
  color: #0a035a;
}

#travelCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

#travelCard {
  display: flex;
  border: solid 2px;
  width: 50%;
  margin: 25px 0;
  padding: 15px;
  align-items: flex-start; /* Align items to the top */
}

#travelCard img {
  height: 320px;
  width: 500px;
  margin: 10px; /* Adjusted margin */
}

#travelCard > div {
  text-align: left; /* Align text to the left */
}

#greatDeal {
  background-color: green;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#premiumDeal,
#allInclusiveDeal {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#travelCard button {
  background-color: rgb(188, 194, 201);
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 100px;
}
